
.home{
    background-color: white;
    height: 86vh;
    .hero-title{
      display: flex;
      align-items: center;
      justify-content: left;
  
      width: 300px;
  
      .hero-graphics{
        width:50px;
        height:25px;
        background-color: #C8CCFF;
  
  
      }

      
      .hero-title-text{
        padding-left: 5px;
        font-family: 'Press Start 2P';
          font-size: 20px;
          color: $text-color-primary;
      }
    }
  }

  .hero-banners{
    display: flex;
    margin-top:40px;
    margin-left:100px;
    margin-right:100px;
    width:50%;
    justify-content: space-evenly;
  }

  