$text-color-primary:#32316D;
$text-color-tertiary: #656EB4;
$background-secondary:#E0E2FF;
$background-primary:#C8CCFF;

.mcq-page{
    padding-top:75px;
    height:86vh;
    display: flex;
    flex-direction: column;
    justify-content: left;

    .mcq-question-container{
        display: flex;
        align-items: center;
        padding-left:5%;
        padding-bottom:80px;
    }

    .mcq-answers-container{
        padding-bottom: 45px;
        padding-left: 80px;
        position: relative;

        .mcq-answers{
            display:flex;
            z-index: 1;
            position:relative;
            width:700px;
            font-size: 14px;
            font-family: "Press Start 2P";
            color:$text-color-primary;
            text-align: left;

            padding-top: 12px;
            padding-left: 18px;
            margin-top: 20px;

            &:hover{
                cursor:pointer;
            }

            

        }
    }

    .mcq-question{
        z-index: 1;
        position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width:800px;
        font-size: 22px;
        font-family: "Press Start 2P";
        color:$text-color-primary;
        text-align: center;
        align-items: center;

    }

    
}

.questions-page{
    display: flex;
    justify-content: space-between;
    
}

.question-right-graphics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .power-ups{
        display: flex;
        justify-content: right;
        padding-right: 35px;
    }

    .power-ups-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:30px;
        height:200px;
        background-color: $background-secondary;
        border-radius: 30px;
    
        .power-ups-container-internal{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            align-self: center;
            text-align: center;
    
            border:white;
            height:98%;
            width:20px;
            border-width: 4px;
            border-radius: 30px;
            border-style: solid;
        }
    }
    .mascot{
        padding-bottom: 40px;
        padding-right: 25px;
        
    }
}