$text-color-primary:#32316D;
$text-color-tertiary: #656EB4;
$background-secondary:#E0E2FF;
$background-primary:#C8CCFF;

.mcq-page{
    padding-top:75px;
    height:86vh;
    display: flex;
    flex-direction: column;
    justify-content: left;

    .mcq-question-container{
        display: flex;
        align-items: center;
        padding-left:5%;
        padding-bottom:80px;
    }

    .mcq-answers-container{
        padding-bottom: 45px;
        padding-left: 130px;
        position: relative;

        .mcq-answers{
            display:flex;
            z-index: 1;
            position:relative;
            width:700px;
            font-size: 14px;
            font-family: "Press Start 2P";
            color:$text-color-primary;
            text-align: left;

            padding-top: 20px;
            padding-left: 18px;

        }
    }

    .mcq-question{
        z-index: 1;
        position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width:800px;
        font-size: 22px;
        font-family: "Press Start 2P";
        color:$text-color-primary;
        text-align: center;
        align-items: center;

    }

    
}