@import 'bootstrap/scss/bootstrap';
@import './stylesheets/Navbar.scss';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './stylesheets/Components.scss';
@import '@trimbleinc/modus-react-bootstrap/css/dist/modus-react-bootstrap.min.css';

#root {
  margin: 0 auto;
}

.home{
  background-color: white;
  height: 88vh;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}